/* Setup */
@import './setup/reset.css';

/* Base */
@import './base/root.css';
@import './base/helpers.css';


/* Components */
@import './comps/AppHeader.css';
@import './comps/ToyFilter.css';
@import './comps/ToyList.css';
@import './comps/ToyPreview.css';
@import './comps/AddToyStrip.css';

/*Pages*/
@import './pages/ToyEdit.css';
@import './pages/ToyDetails.css';


/* GLobal */

.app {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 100vh;
}

.app>* {
  width: 100%;
}

main {
  flex-grow: 1;
  margin-block-end: 5rem;
}