.toy-list {
    padding: 2rem;
}

.toy-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;

    list-style: none;
    padding: 0;
    margin: 0;

}

.toy-list li {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    justify-content: space-between;


    border: 1px solid var(--color-border);
    border-radius: 10px;

    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background: var(--color-surface);
}

.toy-preview__actions {
    display: flex;
    gap: 0.5rem;
}